body {
    background-color: lightsteelblue;
}

.converter {
    width: 300px;
    max-width: 100%;
}

.outputContainer {
    background-color: aliceblue;
    min-height: 100px;
    border: 1px solid rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}